
table,td{
    border: 5px solid black;
    border-collapse: collapse;
}
img{
    width:150px;
    height:150px;
}
.container{
    margin:auto;
    padding:10px;
    width:50%
}
#resetButton{
    width: 100px;
    color: blue;
    background-color: aqua;
}
    